@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #a388ee;
  --overlay: rgba(0, 0, 0, 0.8);
  /* background color overlay for alert dialogs, modals, etc. */

  --bg: #e3dff2;
  --bw: #fff;
  /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #000;
  /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000;
  /* text that is placed on background with main color e.g. text color of default button */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 10px;
  --box-shadow-x: 6px;
  --box-shadow-y: 6px;
  --reverse-box-shadow-x: -6px;
  --reverse-box-shadow-y: -6px;
  --base-font-weight: 600;
  --heading-font-weight: 800;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --main: #7a5fd9;
  --bg: #1e1a2e;
  --bw: #212121;
  --blank: #fff;
  --border: #e3dff2;
  --text: #e6e6e6;
  --mtext: #fff;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

/* Glowing effect */
.glow {
  box-shadow: 0 0 10px rgba(123, 31, 162, 0.5), 0 0 20px rgba(123, 31, 162, 0.3), 0 0 30px rgba(123, 31, 162, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 15px rgba(123, 31, 162, 0.7), 0 0 30px rgba(123, 31, 162, 0.5), 0 0 45px rgba(123, 31, 162, 0.3);
}
